## Kütüphanelerimizi İçeri Aktaralım

In [28]:
import pandas as pd
import numpy as np


from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report, confusion_matrix, ConfusionMatrixDisplay

from sklearn.neighbors import LocalOutlierFactor

from DataMacpy import *

## Verimizi içeri aktaralım

In [29]:
# Veriyi içeri aktaralım.

# veri yolumuzu verelim
file_path = 'train2.csv'

# verimizi okuyoruz. 
df = pd.read_csv(file_path)

print("Setup Complete")

Setup Complete

In [30]:
df

,index,Cinsiyet,Yaş Grubu,Medeni Durum,Eğitim Düzeyi,İstihdam Durumu,Yıllık Ortalama Gelir,Yaşadığı Şehir,En Çok İlgilendiği Ürün Grubu,Yıllık Ortalama Satın Alım Miktarı,...,Eğitime Devam Etme Durumu,Öbek İsmi,Yıllık Ortalama Sepete Atılan Ürün Adedi,Yaş Durumu,Eğitim Durumu,Yaşadığı Şehir Durumu,Yıllık Ortalama Gelir Durumu,Yıllık Ortalama Satın Alım Durumu,Yıllık Ortalama Sipariş Verilen Ürün Adedi Durumu,Yıllık Ortalama Sepete Alınan Ürün Adedi Durumu
0,0,Kadın,31-40,Bekar,Yüksek Lisans Mezunu,Düzenli ve Ücretli Bir İşi Var,748266.440879,Büyük Şehir,Elektronik ve Teknolojik Ürünler,32010.900881,...,Etmiyor,obek_4,102.936904,1,3,2,4,3,3,4
1,1,Erkek,>60,Evli,Lise Mezunu,Kendi İşinin Sahibi,246298.609605,Küçük Şehir,Spor Malzemeleri,4145.729891,...,Etmiyor,obek_5,82.176053,3,2,2,2,1,2,3
2,2,Erkek,18-30,Bekar,Lise Mezunu,Düzenli ve Ücretli Bir İşi Var,268582.732360,Küçük Şehir,Giyim,9924.379414,...,Ediyor,obek_8,141.661426,1,2,2,2,2,3,4
3,3,Erkek,51-60,Evli,Lise Mezunu,Kendi İşinin Sahibi,327721.837865,Kırsal,Giyim,6417.780714,...,Etmiyor,obek_3,17.097397,2,2,1,3,1,2,1
4,4,Erkek,31-40,Evli,Ortaokul Mezunu,İşsiz veya Düzenli Bir İşi Yok,397431.626948,Büyük Şehir,Giyim,7886.663061,...,Etmiyor,obek_3,20.470459,1,1,2,3,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5455,5455,Kadın,>60,Bekar,Üniversite Mezunu,Emekli,478054.247819,Köy veya Kasaba,Kozmetik,43182.299801,...,Etmiyor,obek_6,51.600436,3,3,1,3,3,2,2
5456,5456,Erkek,51-60,Evli,Doktora Ötesi,Kendi İşinin Sahibi,481852.853651,Köy veya Kasaba,Ev ve Mobilya,42107.996193,...,Etmiyor,obek_6,49.190536,2,4,1,3,3,2,2
5457,5457,Kadın,51-60,Evli,İlkokul Mezunu,Düzenli ve Ücretli Bir İşi Var,309443.687351,Küçük Şehir,Ev ve Mobilya,4655.392445,...,Etmiyor,obek_1,9.537384,2,1,2,3,1,2,1
5458,5458,Kadın,18-30,Bekar,Yüksekokul Mezunu,Düzenli ve Ücretli Bir İşi Var,266604.268016,Büyük Şehir,Ev ve Mobilya,9016.165906,...,Ediyor,obek_8,143.281718,1,2,2,2,2,3,4
5459,5459,Erkek,18-30,Bekar,Yüksekokul Mezunu,Düzenli ve Ücretli Bir İşi Var,276155.078333,Büyük Şehir,Spor Malzemeleri,9455.657480,...,Ediyor,obek_8,127.329348,1,2,2,2,2,3,4

## Bağımlı değişkenimizi Belirleyelim

In [31]:
# target verilerimiz string olduğu için LabelEncoder yapıyoruz. Her sınıfı bir sayıya atıyoruz.
l_fit = LabelEncoder().fit(df["Öbek İsmi"])
y = l_fit.transform(df["Öbek İsmi"])
#y = pd.DataFrame(y, columns = ["Type_1"]) # dataframe'e çevirmek için bu satırı kullanabiliriz.
y[0:20]

array([3, 4, 7, 2, 2, 7, 2, 4, 2, 5, 4, 0, 6, 2, 6, 4, 6, 5, 5, 5])

In [32]:
# labellerimizi buluyoruz.
y_label = l_fit.inverse_transform([i for i in range(max(y)+1)])
label_and_num = list(zip(y_label, [i for i in range(max(y)+1)]))
label_and_num

[('obek_1', 0),
 ('obek_2', 1),
 ('obek_3', 2),
 ('obek_4', 3),
 ('obek_5', 4),
 ('obek_6', 5),
 ('obek_7', 6),
 ('obek_8', 7)]

In [33]:
df["Öbek İsmi"] = y

## Object Kolonlarımızı Buluyoruz

In [34]:
object_cols, d = calc_object_cols(df, 0)
d

{'Cinsiyet': 2,
 'Yaş Grubu': 5,
 'Medeni Durum': 2,
 'Eğitim Düzeyi': 9,
 'İstihdam Durumu': 4,
 'Yaşadığı Şehir': 4,
 'En Çok İlgilendiği Ürün Grubu': 5,
 'Eğitime Devam Etme Durumu': 2}

In [35]:
# Object kolonlarımıza OrdinalEncoder uyguluyoruz. OneHot denemesi yapılacak!
ordinal_encoder = OrdinalEncoder()
df[object_cols] = ordinal_encoder.fit_transform(df[object_cols])
df

,index,Cinsiyet,Yaş Grubu,Medeni Durum,Eğitim Düzeyi,İstihdam Durumu,Yıllık Ortalama Gelir,Yaşadığı Şehir,En Çok İlgilendiği Ürün Grubu,Yıllık Ortalama Satın Alım Miktarı,...,Eğitime Devam Etme Durumu,Öbek İsmi,Yıllık Ortalama Sepete Atılan Ürün Adedi,Yaş Durumu,Eğitim Durumu,Yaşadığı Şehir Durumu,Yıllık Ortalama Gelir Durumu,Yıllık Ortalama Satın Alım Durumu,Yıllık Ortalama Sipariş Verilen Ürün Adedi Durumu,Yıllık Ortalama Sepete Alınan Ürün Adedi Durumu
0,0,1.0,1.0,0.0,5.0,0.0,748266.440879,0.0,0.0,32010.900881,...,1.0,3,102.936904,1,3,2,4,3,3,4
1,1,0.0,4.0,1.0,3.0,2.0,246298.609605,2.0,4.0,4145.729891,...,1.0,4,82.176053,3,2,2,2,1,2,3
2,2,0.0,0.0,0.0,3.0,0.0,268582.732360,2.0,2.0,9924.379414,...,0.0,7,141.661426,1,2,2,2,2,3,4
3,3,0.0,3.0,1.0,3.0,2.0,327721.837865,3.0,2.0,6417.780714,...,1.0,2,17.097397,2,2,1,3,1,2,1
4,4,0.0,1.0,1.0,4.0,3.0,397431.626948,0.0,2.0,7886.663061,...,1.0,2,20.470459,1,1,2,3,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5455,5455,1.0,4.0,0.0,7.0,1.0,478054.247819,1.0,3.0,43182.299801,...,1.0,5,51.600436,3,3,1,3,3,2,2
5456,5456,0.0,3.0,1.0,1.0,2.0,481852.853651,1.0,1.0,42107.996193,...,1.0,5,49.190536,2,4,1,3,3,2,2
5457,5457,1.0,3.0,1.0,8.0,0.0,309443.687351,2.0,1.0,4655.392445,...,1.0,0,9.537384,2,1,2,3,1,2,1
5458,5458,1.0,0.0,0.0,6.0,0.0,266604.268016,0.0,1.0,9016.165906,...,0.0,7,143.281718,1,2,2,2,2,3,4
5459,5459,0.0,0.0,0.0,6.0,0.0,276155.078333,0.0,4.0,9455.657480,...,0.0,7,127.329348,1,2,2,2,2,3,4

## Outlier Verilerimizi Saptayalım ve Eğitim Verimizeden Çıkaralım

In [9]:
# Local Outlier
lof = LocalOutlierFactor()
lof.fit(df)
pred = lof.fit_predict(df)
np.unique(pred, return_counts=True)

(array([-1,  1]), array([  68, 5392], dtype=int64))

In [10]:
df["inlier"] = pred

In [11]:
# Outlier olan verilerimizi filtreleyelim.
rslt_df = df[df['inlier'] == -1]

In [12]:
# Filtrelediğimiz outlier verilerimizin indekslerini alalım.
rslt_df.index

Int64Index([ 155,  184,  204,  311,  358,  383,  439,  456,  542,  565,  617,
             634,  849,  886,  927, 1112, 1145, 1172, 1193, 1252, 1431, 1479,
            1538, 1674, 1716, 1857, 1892, 2009, 2072, 2099, 2257, 2299, 2315,
            2413, 2419, 2422, 2519, 2602, 2717, 2832, 2910, 3083, 3136, 3140,
            3300, 3394, 3419, 3520, 3791, 3940, 3994, 4041, 4102, 4184, 4204,
            4227, 4230, 4275, 4395, 4564, 4624, 4728, 4775, 4999, 5100, 5130,
            5215, 5277],
           dtype='int64')

In [13]:
# DataFrame'mimizin içinden outlier verilerimizi drop edelim.
df = df.drop(index=rslt_df.index)
df.shape

(5392, 22)

## X ve Y ayarlama

DataFrame içinden drop edilenlerle güncelenen indekslerimize göre X ve Y'lerimizi ayarlıyoruz.

In [37]:
y = df["Öbek İsmi"]
y

0       3
1       4
2       7
3       2
4       2
       ..
5455    5
5456    5
5457    0
5458    7
5459    7
Name: Öbek İsmi, Length: 5460, dtype: int32

In [38]:
# özniteliklerimizi belirleyelim.
X = df.copy()
X.drop(["Öbek İsmi"], axis=1, inplace=True) # tüm verilerimizden hedef kolonumuzu çıkarıyoruz.
# Number kolonumuzu da gereksiz olduğu eğitimde gereksiz olduğu için çıkarıyoruz.
X

,index,Cinsiyet,Yaş Grubu,Medeni Durum,Eğitim Düzeyi,İstihdam Durumu,Yıllık Ortalama Gelir,Yaşadığı Şehir,En Çok İlgilendiği Ürün Grubu,Yıllık Ortalama Satın Alım Miktarı,Yıllık Ortalama Sipariş Verilen Ürün Adedi,Eğitime Devam Etme Durumu,Yıllık Ortalama Sepete Atılan Ürün Adedi,Yaş Durumu,Eğitim Durumu,Yaşadığı Şehir Durumu,Yıllık Ortalama Gelir Durumu,Yıllık Ortalama Satın Alım Durumu,Yıllık Ortalama Sipariş Verilen Ürün Adedi Durumu,Yıllık Ortalama Sepete Alınan Ürün Adedi Durumu
0,0,1.0,1.0,0.0,5.0,0.0,748266.440879,0.0,0.0,32010.900881,37.310644,1.0,102.936904,1,3,2,4,3,3,4
1,1,0.0,4.0,1.0,3.0,2.0,246298.609605,2.0,4.0,4145.729891,11.554851,1.0,82.176053,3,2,2,2,1,2,3
2,2,0.0,0.0,0.0,3.0,0.0,268582.732360,2.0,2.0,9924.379414,55.353236,0.0,141.661426,1,2,2,2,2,3,4
3,3,0.0,3.0,1.0,3.0,2.0,327721.837865,3.0,2.0,6417.780714,15.417239,1.0,17.097397,2,2,1,3,1,2,1
4,4,0.0,1.0,1.0,4.0,3.0,397431.626948,0.0,2.0,7886.663061,14.689837,1.0,20.470459,1,1,2,3,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5455,5455,1.0,4.0,0.0,7.0,1.0,478054.247819,1.0,3.0,43182.299801,31.356284,1.0,51.600436,3,3,1,3,3,2,2
5456,5456,0.0,3.0,1.0,1.0,2.0,481852.853651,1.0,1.0,42107.996193,26.288620,1.0,49.190536,2,4,1,3,3,2,2
5457,5457,1.0,3.0,1.0,8.0,0.0,309443.687351,2.0,1.0,4655.392445,5.156906,1.0,9.537384,2,1,2,3,1,2,1
5458,5458,1.0,0.0,0.0,6.0,0.0,266604.268016,0.0,1.0,9016.165906,39.205399,0.0,143.281718,1,2,2,2,2,3,4
5459,5459,0.0,0.0,0.0,6.0,0.0,276155.078333,0.0,4.0,9455.657480,50.554188,0.0,127.329348,1,2,2,2,2,3,4

In [17]:
# özniteliklerimizi belirleyelim.
X = df.copy()
X.drop(["Öbek İsmi", "inlier"], axis=1, inplace=True) # tüm verilerimizden hedef kolonumuzu çıkarıyoruz.
# Number kolonumuzu da gereksiz olduğu eğitimde gereksiz olduğu için çıkarıyoruz.
X

,index,Cinsiyet,Yaş Grubu,Medeni Durum,Eğitim Düzeyi,İstihdam Durumu,Yıllık Ortalama Gelir,Yaşadığı Şehir,En Çok İlgilendiği Ürün Grubu,Yıllık Ortalama Satın Alım Miktarı,Yıllık Ortalama Sipariş Verilen Ürün Adedi,Eğitime Devam Etme Durumu,Yıllık Ortalama Sepete Atılan Ürün Adedi,Yaş Durumu,Eğitim Durumu,Yaşadığı Şehir Durumu,Yıllık Ortalama Gelir Durumu,Yıllık Ortalama Satın Alım Durumu,Yıllık Ortalama Sipariş Verilen Ürün Adedi Durumu,Yıllık Ortalama Sepete Alınan Ürün Adedi Durumu
0,0,1.0,1.0,0.0,5.0,0.0,748266.440879,0.0,0.0,32010.900881,37.310644,1.0,102.936904,1,3,2,4,3,3,4
1,1,0.0,4.0,1.0,3.0,2.0,246298.609605,2.0,4.0,4145.729891,11.554851,1.0,82.176053,3,2,2,2,1,2,3
2,2,0.0,0.0,0.0,3.0,0.0,268582.732360,2.0,2.0,9924.379414,55.353236,0.0,141.661426,1,2,2,2,2,3,4
3,3,0.0,3.0,1.0,3.0,2.0,327721.837865,3.0,2.0,6417.780714,15.417239,1.0,17.097397,2,2,1,3,1,2,1
4,4,0.0,1.0,1.0,4.0,3.0,397431.626948,0.0,2.0,7886.663061,14.689837,1.0,20.470459,1,1,2,3,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5455,5455,1.0,4.0,0.0,7.0,1.0,478054.247819,1.0,3.0,43182.299801,31.356284,1.0,51.600436,3,3,1,3,3,2,2
5456,5456,0.0,3.0,1.0,1.0,2.0,481852.853651,1.0,1.0,42107.996193,26.288620,1.0,49.190536,2,4,1,3,3,2,2
5457,5457,1.0,3.0,1.0,8.0,0.0,309443.687351,2.0,1.0,4655.392445,5.156906,1.0,9.537384,2,1,2,3,1,2,1
5458,5458,1.0,0.0,0.0,6.0,0.0,266604.268016,0.0,1.0,9016.165906,39.205399,0.0,143.281718,1,2,2,2,2,3,4
5459,5459,0.0,0.0,0.0,6.0,0.0,276155.078333,0.0,4.0,9455.657480,50.554188,0.0,127.329348,1,2,2,2,2,3,4

## Train Test

In [39]:
# Verilerimizi train ve validation olarak ayırıyoruz.
X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2, random_state=0)

In [40]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import HistGradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
import lightgbm as lgb
from lightgbm import LGBMClassifier
from catboost import CatBoostClassifier

from sklearn.model_selection import GridSearchCV

from sklearn.metrics import accuracy_score

import warnings
warnings.filterwarnings('ignore')

### Algoritmalarımızın Base Parametreleriyle inceleyelim

In [41]:
model_list = [
    
    LogisticRegression(multi_class='multinomial', random_state=1, solver="newton-cg"), # 0
    
    KNeighborsClassifier(n_neighbors=3), # 1
    
    DecisionTreeClassifier(), # 2
    
    RandomForestClassifier(), # 3
    
    ExtraTreesClassifier(), # 4
    
    HistGradientBoostingClassifier(), # 5
    
    VotingClassifier(estimators=[('catb', CatBoostClassifier(iterations=3500, task_type="GPU", verbose=0)),
                                 ('rf', RandomForestClassifier()),
                                 ('lgb', LGBMClassifier())],
                                 voting='soft'), # 6
    
    LGBMClassifier(), # 7
    
    CatBoostClassifier(iterations=3500, task_type="GPU", verbose=0) # 8
    
]

fast_model_select(model_list, X, y)

Model 0 Accuracy: %83.3882783882784
Model 1 Accuracy: %79.7802197802198
Model 2 Accuracy: %71.63003663003663
Model 3 Accuracy: %95.47619047619048
Model 4 Accuracy: %95.43956043956044
Model 5 Accuracy: %92.49084249084248
Model 6 Accuracy: %94.96336996336994
Model 7 Accuracy: %93.003663003663
Model 8 Accuracy: %94.79853479853479

### Hiperparametre Ayarlamalarını Yapalım

In [44]:
params = {
    "n_estimators" : [75, 100, 125, 150, 200, 250, 500, 650, 1000],
    "min_samples_split" : [1, 3, 5, 7, 10, 15, 20]
}

In [45]:
extc_gscv_model = GridSearchCV( 
    ExtraTreesClassifier(),
    params,
    cv = 5,
    n_jobs = -1,
    verbose = 2).fit(X, y)

extc_gscv_model.best_params_

Fitting 5 folds for each of 63 candidates, totalling 315 fits

{'min_samples_split': 3, 'n_estimators': 125}

In [46]:
rf_gscv_model = GridSearchCV( 
    RandomForestClassifier(),
    params,
    cv = 5,
    n_jobs = -1,
    verbose = 2).fit(X, y)

rf_gscv_model.best_params_

Fitting 5 folds for each of 63 candidates, totalling 315 fits

{'min_samples_split': 5, 'n_estimators': 75}

In [47]:
model_list2 = [
    
    ExtraTreesClassifier(**extc_gscv_model.best_params_),
    
    ExtraTreesClassifier(),
    
    RandomForestClassifier(**rf_gscv_model.best_params_),
    
    RandomForestClassifier(),
    
    
]

fast_model_select(model_list2, X, y)

Model 0 Accuracy: %95.4945054945055
Model 1 Accuracy: %95.42124542124543
Model 2 Accuracy: %95.45787545787546
Model 3 Accuracy: %95.43956043956044

In [48]:
model = ExtraTreesClassifier(**extc_gscv_model.best_params_).fit(X, y)

In [49]:
from joblib import dump, load
dump(model, 'extc2.joblib')

['extc2.joblib']